<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.dao.InventMapper" >

    <resultMap id="BaseResultMap" type="com.sys.entity.Invent" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="invent_name" property="invent_name" jdbcType="VARCHAR" />
        <result column="cate_type" property="cate_type" jdbcType="VARCHAR" />
        <result column="area_type" property="area_type" jdbcType="VARCHAR" />
        <result column="apply_men" property="apply_men" jdbcType="VARCHAR" />
        <result column="card_no" property="card_no" jdbcType="VARCHAR" />
        <result column="acc_nbr" property="acc_nbr" jdbcType="VARCHAR" />
        <result column="adress" property="adress" jdbcType="VARCHAR" />
        <result column="invent_des" property="invent_des" jdbcType="VARCHAR" />
        <result column="attach" property="attach" jdbcType="VARCHAR" />
        <result column="create_date" property="create_date" jdbcType="TIMESTAMP" />
        <result column="verify_date" property="verify_date" jdbcType="TIMESTAMP" />
        <result column="status_cd" property="status_cd" jdbcType="VARCHAR" />
        <result column="bak1" property="bak1" jdbcType="VARCHAR" />
        <result column="bak2" property="bak2" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        id, invent_name, cate_type, area_type, apply_men, card_no, acc_nbr, adress, invent_des, 
        attach, create_date, verify_date, status_cd, bak1, bak2
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sys.entity.InventExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List" />
        from invent
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from invent
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from invent
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.sys.entity.InventExample" >
        delete from invent
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.sys.entity.Invent" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into invent (invent_name, cate_type, area_type, 
            apply_men, card_no, acc_nbr, 
            adress, invent_des, attach, 
            create_date, verify_date, status_cd, 
            bak1, bak2)
        values (#{invent_name,jdbcType=VARCHAR}, #{cate_type,jdbcType=VARCHAR}, #{area_type,jdbcType=VARCHAR}, 
            #{apply_men,jdbcType=VARCHAR}, #{card_no,jdbcType=VARCHAR}, #{acc_nbr,jdbcType=VARCHAR}, 
            #{adress,jdbcType=VARCHAR}, #{invent_des,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}, 
            #{create_date,jdbcType=TIMESTAMP}, #{verify_date,jdbcType=TIMESTAMP}, #{status_cd,jdbcType=VARCHAR}, 
            #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.sys.entity.Invent" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into invent
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="invent_name != null" >
                invent_name,
            </if>
            <if test="cate_type != null" >
                cate_type,
            </if>
            <if test="area_type != null" >
                area_type,
            </if>
            <if test="apply_men != null" >
                apply_men,
            </if>
            <if test="card_no != null" >
                card_no,
            </if>
            <if test="acc_nbr != null" >
                acc_nbr,
            </if>
            <if test="adress != null" >
                adress,
            </if>
            <if test="invent_des != null" >
                invent_des,
            </if>
            <if test="attach != null" >
                attach,
            </if>
            <if test="create_date != null" >
                create_date,
            </if>
            <if test="verify_date != null" >
                verify_date,
            </if>
            <if test="status_cd != null" >
                status_cd,
            </if>
            <if test="bak1 != null" >
                bak1,
            </if>
            <if test="bak2 != null" >
                bak2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="invent_name != null" >
                #{invent_name,jdbcType=VARCHAR},
            </if>
            <if test="cate_type != null" >
                #{cate_type,jdbcType=VARCHAR},
            </if>
            <if test="area_type != null" >
                #{area_type,jdbcType=VARCHAR},
            </if>
            <if test="apply_men != null" >
                #{apply_men,jdbcType=VARCHAR},
            </if>
            <if test="card_no != null" >
                #{card_no,jdbcType=VARCHAR},
            </if>
            <if test="acc_nbr != null" >
                #{acc_nbr,jdbcType=VARCHAR},
            </if>
            <if test="adress != null" >
                #{adress,jdbcType=VARCHAR},
            </if>
            <if test="invent_des != null" >
                #{invent_des,jdbcType=VARCHAR},
            </if>
            <if test="attach != null" >
                #{attach,jdbcType=VARCHAR},
            </if>
            <if test="create_date != null" >
                #{create_date,jdbcType=TIMESTAMP},
            </if>
            <if test="verify_date != null" >
                #{verify_date,jdbcType=TIMESTAMP},
            </if>
            <if test="status_cd != null" >
                #{status_cd,jdbcType=VARCHAR},
            </if>
            <if test="bak1 != null" >
                #{bak1,jdbcType=VARCHAR},
            </if>
            <if test="bak2 != null" >
                #{bak2,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.sys.entity.InventExample" resultType="java.lang.Integer" >
        select count(*) from invent
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update invent
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.invent_name != null" >
                invent_name = #{record.invent_name,jdbcType=VARCHAR},
            </if>
            <if test="record.cate_type != null" >
                cate_type = #{record.cate_type,jdbcType=VARCHAR},
            </if>
            <if test="record.area_type != null" >
                area_type = #{record.area_type,jdbcType=VARCHAR},
            </if>
            <if test="record.apply_men != null" >
                apply_men = #{record.apply_men,jdbcType=VARCHAR},
            </if>
            <if test="record.card_no != null" >
                card_no = #{record.card_no,jdbcType=VARCHAR},
            </if>
            <if test="record.acc_nbr != null" >
                acc_nbr = #{record.acc_nbr,jdbcType=VARCHAR},
            </if>
            <if test="record.adress != null" >
                adress = #{record.adress,jdbcType=VARCHAR},
            </if>
            <if test="record.invent_des != null" >
                invent_des = #{record.invent_des,jdbcType=VARCHAR},
            </if>
            <if test="record.attach != null" >
                attach = #{record.attach,jdbcType=VARCHAR},
            </if>
            <if test="record.create_date != null" >
                create_date = #{record.create_date,jdbcType=TIMESTAMP},
            </if>
            <if test="record.verify_date != null" >
                verify_date = #{record.verify_date,jdbcType=TIMESTAMP},
            </if>
            <if test="record.status_cd != null" >
                status_cd = #{record.status_cd,jdbcType=VARCHAR},
            </if>
            <if test="record.bak1 != null" >
                bak1 = #{record.bak1,jdbcType=VARCHAR},
            </if>
            <if test="record.bak2 != null" >
                bak2 = #{record.bak2,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update invent
        set id = #{record.id,jdbcType=INTEGER},
            invent_name = #{record.invent_name,jdbcType=VARCHAR},
            cate_type = #{record.cate_type,jdbcType=VARCHAR},
            area_type = #{record.area_type,jdbcType=VARCHAR},
            apply_men = #{record.apply_men,jdbcType=VARCHAR},
            card_no = #{record.card_no,jdbcType=VARCHAR},
            acc_nbr = #{record.acc_nbr,jdbcType=VARCHAR},
            adress = #{record.adress,jdbcType=VARCHAR},
            invent_des = #{record.invent_des,jdbcType=VARCHAR},
            attach = #{record.attach,jdbcType=VARCHAR},
            create_date = #{record.create_date,jdbcType=TIMESTAMP},
            verify_date = #{record.verify_date,jdbcType=TIMESTAMP},
            status_cd = #{record.status_cd,jdbcType=VARCHAR},
            bak1 = #{record.bak1,jdbcType=VARCHAR},
            bak2 = #{record.bak2,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.sys.entity.Invent" >
        update invent
        <set >
            <if test="invent_name != null" >
                invent_name = #{invent_name,jdbcType=VARCHAR},
            </if>
            <if test="cate_type != null" >
                cate_type = #{cate_type,jdbcType=VARCHAR},
            </if>
            <if test="area_type != null" >
                area_type = #{area_type,jdbcType=VARCHAR},
            </if>
            <if test="apply_men != null" >
                apply_men = #{apply_men,jdbcType=VARCHAR},
            </if>
            <if test="card_no != null" >
                card_no = #{card_no,jdbcType=VARCHAR},
            </if>
            <if test="acc_nbr != null" >
                acc_nbr = #{acc_nbr,jdbcType=VARCHAR},
            </if>
            <if test="adress != null" >
                adress = #{adress,jdbcType=VARCHAR},
            </if>
            <if test="invent_des != null" >
                invent_des = #{invent_des,jdbcType=VARCHAR},
            </if>
            <if test="attach != null" >
                attach = #{attach,jdbcType=VARCHAR},
            </if>
            <if test="create_date != null" >
                create_date = #{create_date,jdbcType=TIMESTAMP},
            </if>
            <if test="verify_date != null" >
                verify_date = #{verify_date,jdbcType=TIMESTAMP},
            </if>
            <if test="status_cd != null" >
                status_cd = #{status_cd,jdbcType=VARCHAR},
            </if>
            <if test="bak1 != null" >
                bak1 = #{bak1,jdbcType=VARCHAR},
            </if>
            <if test="bak2 != null" >
                bak2 = #{bak2,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.sys.entity.Invent" >
        update invent
        set invent_name = #{invent_name,jdbcType=VARCHAR},
            cate_type = #{cate_type,jdbcType=VARCHAR},
            area_type = #{area_type,jdbcType=VARCHAR},
            apply_men = #{apply_men,jdbcType=VARCHAR},
            card_no = #{card_no,jdbcType=VARCHAR},
            acc_nbr = #{acc_nbr,jdbcType=VARCHAR},
            adress = #{adress,jdbcType=VARCHAR},
            invent_des = #{invent_des,jdbcType=VARCHAR},
            attach = #{attach,jdbcType=VARCHAR},
            create_date = #{create_date,jdbcType=TIMESTAMP},
            verify_date = #{verify_date,jdbcType=TIMESTAMP},
            status_cd = #{status_cd,jdbcType=VARCHAR},
            bak1 = #{bak1,jdbcType=VARCHAR},
            bak2 = #{bak2,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>